{% extends 'user_panel/base.html' %}

{% block content %}

    <!-- ===============================================-->
    <!--                      Slider                    -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/slider.html' %}

    <!-- ===============================================-->
    <!--                      Brands                    -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/brands.html' %}

    <!-- ===============================================-->
    <!--                     Services                   -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/services.html' %}

    <!-- ===============================================-->
    <!--                      Features                  -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/features.html' %}

    <!-- ===============================================-->
    <!--                   Descriptive                  -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/descriptive.html' %}

    <!-- ===============================================-->
    <!--                    Projects                    -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/projects.html' %}

    <!-- ===============================================-->
    <!--                      Teams                     -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/teams.html' %}

    <!-- ===============================================-->
    <!--                Client Thoughts                 -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/client-thoughts.html' %}

    <!-- ===============================================-->
    <!--                       Blog                     -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/blog.html' %}

    <!-- ===============================================-->
    <!--                      Contact                   -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/contact.html' %}

    <!-- ===============================================-->
    <!--                     Branding                   -->
    <!-- ===============================================-->
    {% include 'user_panel/pages/home_components/branding.html' %}

{% endblock %}