<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">
<meta name="description" property="og:description"
    content="{% if meta_description %}{{ meta_description }}{% else %}snippetshub.com: A sophisticated web application containing a number of useful snippets. Services we provide like youtube video downloader, video converter, pdf converter, doc file converter, powerpoint file converter, image/video compressor, file resizer, fake data api and so on.{% endif %}">
<meta name="keywords"
    content="{% if meta_keywords %}{{ meta_keywords }}{% else %}youtube video downloader, file converter, image converter, file resizer, image resizer, fake data, fake api, free api, file compressor, video downloader, python, django, seo, youtube, facebook, facebook video downloader, web snippets, snippetshub{% endif %}">
<meta name="author" content="{% if meta_author %}{{ meta_author }}{% else %}Numan Ibn Mazid{% endif %}">