{% load static %}

<script src="{% static 'user_panel/vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static 'user_panel/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'user_panel/vendors/is/is.min.js' %}"></script>
<script src="https://polyfill.io/v3/polyfill.js?features=window.scroll"></script>
<script src="{% static 'user_panel/vendors/feather-icons/feather.min.js' %}"></script>
<script>
    feather.replace();
</script>
<!-- Toastr -->
<script src="{% static 'vendors/toastr/toastr.min.js' %}"></script>
<!-- Bootstrap Validator -->
<script src="{% static 'vendors/BootstrapValidator/bootstrapValidator.min.js' %}"></script>
<!-- Theme -->
<script src="{% static 'user_panel/assets/js/theme.js' %}"></script>
<script src="{% static 'scripts/custom.js' %}"></script>

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">