{% load static %}

<!-- ===============================================-->
<!--                    Stylesheets                 -->
<!-- ===============================================-->
<!-- BEGIN: Font-Awesome CSS-->
<link rel="stylesheet" href="{% static 'admin_panel/vendors/fontawesome/all.min.css' %}">
<!-- END: Font-Awesome CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'user_panel/assets/css/theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/custom.css' %}" />
<!-- JQuery -->
<script src="{% static 'vendors/JQuery/jquery-3.6.0.min.js' %}"></script>