{% load static %}

<!-- BEGIN: Font-Awesome CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'admin_panel/vendors/fontawesome/all.min.css' %}">
<!-- END: Font-Awesome CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'user_panel/assets/css/theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/custom.css' %}" />
<!-- Bootstrap Icons -->
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'vendors/BootstrapIcons/bootstrap-icons.css' %}">
{% endcomment %}
<!-- glyphicons -->
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'vendors/glyphicons/bootstrap-glyphicons.css' %}">
{% endcomment %}
<!-- Toastr -->
<link rel="stylesheet" type="text/css" href="{% static 'vendors/toastr/toastr.min.css' %}" />
<!-- Bootstrap Validator -->
<link rel="stylesheet" type="text/css" href="{% static 'vendors/BootstrapValidator/bootstrapValidator.min.css' %}" />
<!-- JQuery -->
<script src="{% static 'vendors/JQuery/jquery-3.6.0.min.js' %}"></script>