<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <!-- ===============================================-->
  <!--                  Meta tags                     -->
  <!-- ===============================================-->
  {% include 'user_panel/components/meta-tags.html' %}


  <!-- ===============================================-->
  <!--                Document Title                  -->
  <!-- ===============================================-->
  <title>snippetshub | A sophisticated web application containing a number of useful snippets</title>


  <!-- ===============================================-->
  <!--                    Favicons                    -->
  <!-- ===============================================-->
  {% include 'user_panel/components/favicons.html' %}



  <!-- ===============================================-->
  <!--                    Stylesheets                 -->
  <!-- ===============================================-->
  {% include 'user_panel/components/styles.html' %}

</head>


<body>
  <!-- ===============================================-->
  <!--                  Main Content                  -->
  <!-- ===============================================-->
  <main class="main" id="top">

    <!-- ===============================================-->
    <!--                      Navbar                    -->
    <!-- ===============================================-->
    {% include 'user_panel/components/navbar.html' %}

    <!-- ===============================================-->
    <!--                     Messages                   -->
    <!-- ===============================================-->
    {% include 'user_panel/components/messages.html' %}

    <!-- ===============================================-->
    <!--                   Page Utils                   -->
    <!-- ===============================================-->
    {% include 'user_panel/components/page-utils.html' %}

    <!-- ===============================================-->
    <!--                Content Block                   -->
    <!-- ===============================================-->
    {% block content %}{% endblock %}

    <!-- ===============================================-->
    <!--                     Footer                     -->
    <!-- ===============================================-->
    {% include 'user_panel/components/footer.html' %}

    <!-- ===============================================-->
    <!--                  back to top                   -->
    <!-- ===============================================-->
    <a id="back-to-top" href="#" class="btn btn-md btn-snippetshub-outline order-0 back-to-top" role="button">
      <i class="fa fa-chevron-up"></i>
    </a>

  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--                    JavaScripts                 -->
  <!-- ===============================================-->
  {% include 'user_panel/components/scripts.html' %}


</body>

</html>