<div class="customizer d-none d-md-block">
    <a class="customizer-toggle d-flex align-items-center justify-content-center" href="javascript:void(0);">
        <i class="spinner" data-feather="settings"></i>
    </a>
    <div class="customizer-content">
        <!-- Customizer header -->
        <div class="customizer-header px-2 pt-1 pb-0 position-relative">
            <h4 class="mb-0">Web Customizer</h4>
            <p class="m-0">Customize & Preview in Real Time</p>

            <a class="customizer-close" href="javascript:void(0);"><i data-feather="x"></i></a>
        </div>

        <hr />

        <!-- Styling & Text Direction -->
        <div class="customizer-styling-direction px-2">
            <p class="font-weight-bold">Skin</p>
            <div class="d-flex">
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="skinlight" name="skinradio" value="light-layout"
                        class="custom-control-input layout-name skin-config"
                        {% if dashboard_setting.skin == "light-layout" %}checked{% endif %}
                        data-layout="" />
                    <label class="custom-control-label" for="skinlight">Light</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="skinbordered" name="skinradio" value="bordered-layout"
                        class="custom-control-input layout-name skin-config"
                        {% if dashboard_setting.skin == "bordered-layout" %}checked{% endif %}
                        data-layout="bordered-layout" />
                    <label class="custom-control-label" for="skinbordered">Bordered</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="skindark" name="skinradio" value="dark-layout"
                        class="custom-control-input layout-name skin-config"
                        {% if dashboard_setting.skin == "dark-layout" %}checked{% endif %} data-layout="dark-layout"
                        />
                    <label class="custom-control-label" for="skindark">Dark</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="skinsemidark" name="skinradio" value="semi-dark-layout"
                        class="custom-control-input layout-name skin-config"
                        {% if dashboard_setting.skin == "semi-dark-layout" %}checked{% endif %}
                        data-layout="semi-dark-layout" />
                    <label class="custom-control-label" for="skinsemidark">Semi Dark</label>
                </div>
            </div>
        </div>

        <hr />

        <!-- Menu -->
        <div class="customizer-menu px-2">
            <div id="customizer-menu-collapsible" class="d-flex">
                <p class="font-weight-bold mr-auto m-0">Menu Collapsed</p>
                <div class="custom-control custom-control-primary custom-switch">
                    <input type="checkbox" class="custom-control-input menu-collapsed-config"
                        {% if dashboard_setting.menu_collapsed == True %}checked{% endif %}
                        id="collapse-sidebar-switch" />
                    <label class="custom-control-label" for="collapse-sidebar-switch"></label>
                </div>
            </div>
        </div>
        <hr />

        <!-- Layout Width -->
        <div class="customizer-footer px-2">
            <p class="font-weight-bold">Layout Width</p>
            <div class="d-flex">
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="layout-width-full" name="layoutWidth" value="full-width"
                        class="custom-control-input layout-width-config"
                        {% if dashboard_setting.layout_width == "full-width" %}checked{% endif %} />
                    <label class="custom-control-label" for="layout-width-full">Full Width</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="layout-width-boxed" name="layoutWidth" value="boxed"
                        class="custom-control-input layout-width-config"
                        {% if dashboard_setting.layout_width == "boxed" %}checked{% endif %} />
                    <label class="custom-control-label" for="layout-width-boxed">Boxed</label>
                </div>
            </div>
        </div>
        <hr />

        <!-- Navbar -->
        <div class="customizer-navbar px-2">
            <div id="customizer-navbar-colors">
                <p class="font-weight-bold">Navbar Color</p>
                <ul class="list-inline unstyled-list">
                    <li class="color-box bg-white border {% if dashboard_setting.navbar_color == 'inherit' %}selected{% endif %} navbar-color-config"
                        data-navbar-default="" data-navbar-color="inherit"></li>
                    <li class="color-box bg-primary navbar-color-config {% if dashboard_setting.navbar_color == 'bg-primary' %}selected{% endif %}"
                        data-navbar-color="bg-primary"></li>
                    <li class="color-box bg-secondary navbar-color-config {% if dashboard_setting.navbar_color == 'bg-secondary' %}selected{% endif %}"
                        data-navbar-color="bg-secondary"></li>
                    <li class="color-box bg-success navbar-color-config {% if dashboard_setting.navbar_color == 'bg-success' %}selected{% endif %}"
                        data-navbar-color="bg-success"></li>
                    <li class="color-box bg-danger navbar-color-config {% if dashboard_setting.navbar_color == 'bg-danger' %}selected{% endif %}"
                        data-navbar-color="bg-danger"></li>
                    <li class="color-box bg-info navbar-color-config {% if dashboard_setting.navbar_color == 'bg-info' %}selected{% endif %}"
                        data-navbar-color="bg-info"></li>
                    <li class="color-box bg-warning navbar-color-config {% if dashboard_setting.navbar_color == 'bg-warning' %}selected{% endif %}"
                        data-navbar-color="bg-warning"></li>
                    <li class="color-box bg-dark navbar-color-config {% if dashboard_setting.navbar_color == 'bg-dark' %}selected{% endif %}"
                        data-navbar-color="bg-dark"></li>
                </ul>
            </div>

            <p class="navbar-type-text font-weight-bold">Navbar Type</p>
            <div class="d-flex">
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="nav-type-floating" name="navType" value="navbar-floating"
                        class="custom-control-input navbar-type-config"
                        {% if dashboard_setting.navbar_type == "navbar-floating" %}checked{% endif %} />
                    <label class="custom-control-label" for="nav-type-floating">Floating</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="nav-type-sticky" name="navType" value="navbar-sticky"
                        class="custom-control-input navbar-type-config"
                        {% if dashboard_setting.navbar_type == "navbar-sticky" %}checked{% endif %} />
                    <label class="custom-control-label" for="nav-type-sticky">Sticky</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="nav-type-static" name="navType" value="navbar-static"
                        class="custom-control-input navbar-type-config"
                        {% if dashboard_setting.navbar_type == "navbar-static" %}checked{% endif %} />
                    <label class="custom-control-label" for="nav-type-static">Static</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="nav-type-hidden" name="navType" value="navbar-hidden"
                        class="custom-control-input navbar-type-config"
                        {% if dashboard_setting.navbar_type == "navbar-hidden" %}checked{% endif %} />
                    <label class="custom-control-label" for="nav-type-hidden">Hidden</label>
                </div>
            </div>
        </div>
        <hr />

        <!-- Footer -->
        <div class="customizer-footer px-2">
            <p class="font-weight-bold">Footer Type</p>
            <div class="d-flex">
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="footer-type-sticky" name="footerType" value="footer-fixed"
                        class="custom-control-input footer-type-config"
                        {% if dashboard_setting.footer_type == "footer-fixed" %}checked{% endif %} />
                    <label class="custom-control-label" for="footer-type-sticky">Sticky</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="footer-type-static" name="footerType" value="footer-static"
                        class="custom-control-input footer-type-config"
                        {% if dashboard_setting.footer_type == "footer-static" %}checked{% endif %} />
                    <label class="custom-control-label" for="footer-type-static">Static</label>
                </div>
                <div class="custom-control custom-radio mr-1">
                    <input type="radio" id="footer-type-hidden" name="footerType" value="footer-hidden"
                        class="custom-control-input footer-type-config"
                        {% if dashboard_setting.footer_type == "footer-hidden" %}checked{% endif %} />
                    <label class="custom-control-label" for="footer-type-hidden">Hidden</label>
                </div>
            </div>
        </div>
    </div>

</div>