{% load crispy_forms_tags %}

<div class="card card-bg p-2">
    <div class="card-body">
        <form method="POST" class="custom-form" id="snippetshubForm" action="{% url 'youtube:youtube_downloader' %}">
            {% csrf_token %}

            {% crispy form %}

            <div class="row mt-5">
                <div class="col-4 mx-auto">
                    <div class="d-grid">
                        <button class="btn hover-top btn-glow btn-snippetshub rounded-pill" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#snippetshubForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'fas fa-check',
                invalid: 'fas fa-times',
                validating: 'fas fa-sync-alt'
            },
        });
    });
</script>